<header>
    <img src="img/angular.svg" alt="angular">
    <h1>{{title}}</h1>
</header>
<main>
    <form class="todo-form" (ngSubmit)="create(); todoForm.reset();" #todoForm="ngForm">
        <input type="text" name="title" [(ngModel)]="newTodoTitle" placeholder="Ввести название сюда" required>
        <button type="submit">Добавить</button>
    </form>
    <section class="todo-list" *ngIf="todos.length">
        <div class="todo-item" *ngFor="let todo of todos" [ngClass]="{'completed': todo.completed}">
            <button class="checkbox icon" (click)="toggle(todo)">
                <i class="material-icons">{{todo.completed ? 'check_box' : 'check_box_outline_blank'}}</i>
            </button>

            <span class="title">{{todo.title}}</span>

            <div class="actions">
                <button class="delete icon" (click)="delete(todo)">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </div>
    </section>
</main>